.main_div .div_1 {
  background-color: red;
  padding: 25px;
}

.main_div .div_2 {
  background-color: green;
  padding: 33.33333px;
}

.main_div .div_3 {
  background-color: blue;
}
/*# sourceMappingURL=style.css.map */