$padding-width:50;
@function hp_width($value) {
    @return $value/2+px;
}

@function h1p_width($value) {
    @return $value/3+px;
}

.main_div {
    .div_1 {
        background-color: red;
        padding: hp_width($padding-width);
    }
    .div_2 {
        background-color: green;
        padding: h1p_width(100);
    }
    .div_3 {
        background-color: blue;
    }
}