.btn1 {
  background-color: red;
}

body {
  background-color: saddlebrown;
}

body {
  background-color: saddlebrown;
}

nav li {
  background-color: violet;
}

nav li a {
  color: yellow;
}
/*# sourceMappingURL=style.css.map */