$h1: 400.232322132;
$w1 :406.443;
$btn_cener:center;
$font :blue;
$select :selector_nest(".main_div", ".sub");
$array :("high":400, "medium":200, "low":100);
#{
 $select
}
{
    background: blue;
}
button {
    background-color: red;
    padding: map_get($array, "medium")+px;
}
button:hover {
    background-color: royalblue;
}