@mixin height-width($v1, $v2) {
    height: $v1;
    width: $v2;
}

@mixin position($v1, $v2, $v3, $v4) {
    position: relative;
    top: $v1;
    bottom: $v2;
    right: $v3;
    left: $v4;
}

@mixin box() {
    @include height-width(30%, 30%);
    background-color: green;
    text-align: center;
    @content ;
}

.main_div {
    @include height-width(750px, 50%);
    background-color: red;
    margin-left: 25%;
    .div_1 {
        padding-top: 1%;
        text-align: center;
        background-color: wheat;
        @include height-width(10%, 100%);
    }
    .div_2 {
        @include height-width(45%, 100%);
        background-color: green;
        .div_21 {
            @include height-width(100%, 50%);
            background-color: orange;
            .div_211 {
                @include box();
                @include position(0, 20%, 0, 35%);
            }
            .div_212 {
                @include position(20%, 0, 0, 50%);
            }
        }
        .div_22 {
            @include height-width(100%, 50%);
            @include position(-100%, 100px, 0, 50%);
            background-color: pink;
            .div_221 {
                @include box() {
                    padding: 25%;
                }
                @include position(6%, 0, 0, 10%);
            }
            .div_222 {
                @include position(-85%, 0, 0, 50%);
            }
        }
    }
    .div_3 {
        @include height-width(45%, 100%);
        background-color: yellow;
        .div_31 {
            @include height-width(100%, 50%);
            background-color: yellow;
            .div_311 {
                @include box();
                @include position(70%, 0, 0, 35%);
            }
            .div_312 {
                @include position(20%, 0, 0, 50%);
            }
        }
        .div_32 {
            @include height-width(100%, 50%);
            @include position(-100%, 100px, 0, 50%);
            background-color: firebrick;
            .div_321 {
                @include box();
                @include position(30%, 0, 0, 35%);
            }
            .div_322 {
                @include position(-27%, 0, 0, 50%);
            }
        }
    }
}