.main_div {
  height: 750px;
  width: 50%;
  background-color: red;
  margin-left: 25%;
}

.main_div .div_1 {
  padding-top: 1%;
  text-align: center;
  background-color: wheat;
  height: 10%;
  width: 100%;
}

.main_div .div_2 {
  height: 45%;
  width: 100%;
  background-color: green;
}

.main_div .div_2 .div_21 {
  height: 100%;
  width: 50%;
  background-color: orange;
}

.main_div .div_2 .div_21 .div_211 {
  height: 30%;
  width: 30%;
  background-color: green;
  text-align: center;
  position: relative;
  top: 0;
  bottom: 20%;
  right: 0;
  left: 35%;
}

.main_div .div_2 .div_21 .div_212 {
  position: relative;
  top: 20%;
  bottom: 0;
  right: 0;
  left: 50%;
}

.main_div .div_2 .div_22 {
  height: 100%;
  width: 50%;
  position: relative;
  top: -100%;
  bottom: 100px;
  right: 0;
  left: 50%;
  background-color: pink;
}

.main_div .div_2 .div_22 .div_221 {
  height: 30%;
  width: 30%;
  background-color: green;
  text-align: center;
  padding: 25%;
  position: relative;
  top: 6%;
  bottom: 0;
  right: 0;
  left: 10%;
}

.main_div .div_2 .div_22 .div_222 {
  position: relative;
  top: -85%;
  bottom: 0;
  right: 0;
  left: 50%;
}

.main_div .div_3 {
  height: 45%;
  width: 100%;
  background-color: yellow;
}

.main_div .div_3 .div_31 {
  height: 100%;
  width: 50%;
  background-color: yellow;
}

.main_div .div_3 .div_31 .div_311 {
  height: 30%;
  width: 30%;
  background-color: green;
  text-align: center;
  position: relative;
  top: 70%;
  bottom: 0;
  right: 0;
  left: 35%;
}

.main_div .div_3 .div_31 .div_312 {
  position: relative;
  top: 20%;
  bottom: 0;
  right: 0;
  left: 50%;
}

.main_div .div_3 .div_32 {
  height: 100%;
  width: 50%;
  position: relative;
  top: -100%;
  bottom: 100px;
  right: 0;
  left: 50%;
  background-color: firebrick;
}

.main_div .div_3 .div_32 .div_321 {
  height: 30%;
  width: 30%;
  background-color: green;
  text-align: center;
  position: relative;
  top: 30%;
  bottom: 0;
  right: 0;
  left: 35%;
}

.main_div .div_3 .div_32 .div_322 {
  position: relative;
  top: -27%;
  bottom: 0;
  right: 0;
  left: 50%;
}
/*# sourceMappingURL=style.css.map */