@import "mixins";
.main_div {
    .div_1 {
        background-color: red;
    }
    .div_2 {
        background-color: royalblue;
        @include in-color(red);
    }
    .div_3 {
        background-color: slateblue;
    }
}