.main_div .div_1 {
  background-color: red;
}

.main_div .div_2 {
  background-color: royalblue;
  color: red;
}

.main_div .div_3 {
  background-color: slateblue;
}
/*# sourceMappingURL=style.css.map */