@mixin background($value, $val1, $val2) {
    background: $value;
    padding: 20px;
    height: $val1;
    width: $val2;
    @content;
}

.main_div {
    @at-root {
        .div_1 {
            @include background(red, 100px, 300px) {
                border-radius: 30px;
            }
            ;
        }
        .div_2 {
            @include background(blue, 100px, 300px) {}
            ;
        }
        .div_3 {
            @include background(yellow, 100px, 300px) {}
            ;
        }
    }
}