.div_1 {
  background: red;
  padding: 20px;
  height: 100px;
  width: 300px;
  border-radius: 30px;
}

.div_2 {
  background: blue;
  padding: 20px;
  height: 100px;
  width: 300px;
}

.div_3 {
  background: yellow;
  padding: 20px;
  height: 100px;
  width: 300px;
}
/*# sourceMappingURL=style.css.map */