body .div_1, body .div_2 {
  background: red;
  height: 300px;
  width: 300px;
  padding: 30px;
}

body .div_2 {
  background-color: green;
}

body .div_3 {
  background: indigo;
  height: 300px;
  width: 300px;
}
/*# sourceMappingURL=style.css.map */