body {
    .div_1 {
        background: red;
        height: 300px;
        width: 300px;
        padding: 30px;
    }
    .div_2 {
        background-color: green;
        @extend .div_1;
    }
    .div_3 {
        background: indigo;
        height: 300px;
        width: 300px;
    }
}